body{
    background-color: rgb(139, 168, 100); 
}
#header{
 display: flex;
 height: 100px;
}
#contener{
    text-align: center;
}
#main{
min-height: 630px;
background-image: url(./images/background_page.jpeg);
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}
#icon{
    flex: 1;
}
#menu{
    flex:2;
}
ul{
    display: flex;
}
li{
    flex: 1;
    list-style: none;
    
}
li a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 13px;
    text-decoration: none;
    font-size: 17px;
}
li a:hover {
    color:rgb(106, 40, 172);;
}

img{
    height: 50px;
    width: 50px;
    padding: 10px;
}


#footer{
min-height: 100px;
text-align: center;
}


#about-page{
    padding-top:80px;
    font-family:"Times New Roman";
    font-size:1.2rem;
}
#about-page > img{
    margin-left:auto;
    margin-right:auto;
}
#paragraphs{
    border-left:1px solid black;
    border-right:1px solid black;
}
#paragraphs > #header{
    padding-bottom:30px;
}
#paragraphs > p{
    line-height: 2rem;
    margin-bottom:10px;
    color:#888888;
}


#about-page > #paragraphs{
    position: relative;
    left: -186.5px;
    box-sizing: border-box;
    width: 1500px;
    padding-left: 186.5px;
    padding-right: 186.5px;
    line-height:2rem;   
    margin-left:auto;
    margin-right:auto;
}
