#about-page{
    padding-top:80px;
    font-family:"Times New Roman";
    font-size:1.2rem;
}
#about-page > img{
    margin-left:auto;
    margin-right:auto;
}
#paragraphs{
    border-left:1px solid black;
    border-right:1px solid black;
}
#paragraphs > #header{
    padding-bottom:30px;
}
#paragraphs > p{
    line-height: 2rem;
    margin-bottom:10px;
    color:#888888;
}


#about-page > #paragraphs{
    position: relative;
    left: -186.5px;
    box-sizing: border-box;
    width: 1500px;
    padding-left: 186.5px;
    padding-right: 186.5px;
    line-height:2rem;   
    margin-left:auto;
    margin-right:auto;
}
