
#header{
 background-color:antiquewhite;
 display: flex;
 height: 100px;
}

#main{
background-color: aqua;
min-height: 630px;
background-image: url(./images/background_page.jpeg);
}

#footer{
background-color:blueviolet;
height: 100px;
}

#icon{
    flex: 1;
    background-color: blue;
}
#menu{
    flex:2;
    background-color: blueviolet;
}